* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #ccefff;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  grid-template-areas:
    "word-title trans-title description-title ."
    "word-input translation-input description-input add-button";
  align-items: center;
  padding: 0 0 10px 0;
  background-color: #66cfff;
}

.new-word-title {
  grid-area: word-title;
}

.new-translation-title {
  grid-area: trans-title;
}

.new-description-title {
  grid-area: description-title;
}

.new-word-title,
.new-translation-title,
.new-description-title {
  font-weight: bold;
}

.new-word-title,
.new-translation-title,
.new-description-title,
.word-out,
.description-out,
.trans-out {
  display: flex;
  align-items: center;
  margin: 5;
}

.word-out,
.description-out,
.trans-out {
  padding: 5px 10px;
}

#word-input {
  grid-area: word-input;
}

#translation-input {
  grid-area: translation-input;
}

#description-input {
  grid-area: description-input;
}

input {
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 3px #999;
  margin: 0 5px;
  padding: 0px 5px;
  height: 30px;
}

.add-word-button {
  grid-area: add-button;
}

.add-word-button,
.hide-button,
.delete-button {
  height: 30px;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #009de6;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.delete-button {
  background-color: red;
  padding: 3px;
}

.words-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.25fr 0.25fr;
  grid-template-areas: "word-out trans-out description-out hide-button delete-button";
}

.word-out {
  grid-area: word-out;
}

.trans-out {
  grid-area: trans-out;
}

.description-out {
  grid-area: description-out;
}

.hide-button {
  grid-area: hide-button;
}
